@font-face {
  font-family: "Roboto";
  src: url("../Roboto/Roboto-Black.ttf");
}

body {
  background-color: #fcebb6;
  color: #221811;
  font-size: 100%;
  font-family: Roboto, Tahoma, Arial, sans-serif;
  background-image: url(images/fadedroad50.jpg);
}

#wrapper {
  background-color: #fefaeb;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

nav {
  font-weight: bold;
  text-align: center;
}

h1 {
  line-height: 200%;
}

h2 {
  color: #8c3826;
}

h3 {
  color: #8c3826;
}

header {
  background-color: #d2b48c;
  color: #8c3826;
  text-align: center;
}

footer {
  background-color: #d2b48c;
  font-size: 0.6em;
  font-style: italic;
  text-align: center;
}

img.roadimage{
  width: 100%;
}